[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = ">=2.0.0"
seaborn = ">=0.11.1"
wahlprogramme = {editable = true, path = "."}
tika = "*"

[dev-packages]
pytest = "6.2.4"
flake8 = "*"
black = "==21.5b1"
coverage = "*"

[requires]
python_version = "3.8"
