<form action="" method="get" accept-charset="utf-8">
    <fieldset>
        <label for="query">Suchbegriff</label>
        <input id="query" type="text" name="query" value="{{query}}" placeholder="Mehrere Begriffe können durch Kommas getrennt werden">
        <label for="relative">Relativ</label>

        {%if show_relative%}
          <div class="float-right">
            <input type="checkbox" id="relative" name="relative" value="true"
              {%if relative%}checked{%endif%}>
              <label class="label-inline" for="relative">Relativ</label>
          </div>
        {% endif %}
        <input class="button-primary" type="submit" value="Suchen">
    </fieldset>
</form>
