{% extends 'base.html' %}

{% block headline %}{{year}} - {{party_names.get(party, party)}}{% endblock %}

{% block content%}
<div class="column">
    {% include "search_field.html" %}
    {% if image_url %}
        <div class="graph">
            <img src="{{image_url}}" alt="">
        </div>
    {% endif %}
    {% for query, result in results %}
        <div class="row">
            <h3>{{query.raw_query}} - {{result|length}} Ergebnisse</h3>
        </div>
        {% for page, paragraph in result %}
            <div class="row">
                <h4>Seite: {{page+1}}</h4>
            </div>
            <div class="row">
                {{paragraph.text}}
            </div>
            <hr>
        {% endfor %}
        <hr>
    {% endfor %}
</div>
{% endblock %}